<div id="modal" class="modal">
  <div class="modal-content">
    <h2 id="modelItemName"></h2>
    <p>has been added to your cart.</p>
    <button id="close-modal">Continue Shopping</button>
  </div>
</div>
