<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about">
    <section class="about-container">
      <div class="aboutImg-container">
        <img src="/imgs/about.svg" alt="Our Story" />
      </div>

      <h1 class="mb-4 fw-bold">About Us</h1>
      <p>
        Welcome to CIS485 SHOPS, your destination for high-quality, affordable fashion. We're committed to sustainable and ethical practices, and we strive to make a positive impact in the fashion industry.      </p>
      <p>
        Our collections are curated with the latest styles to help you express yourself. We're dedicated to exceptional customer service, and we're here to answer any questions you have.
      </p>
    </section>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
