<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="thankyou">
      <div class="container thankyouContainer animate__animated  animate__zoomIn">
        <img class="thankyouImg" src="/imgs/check_out.svg" alt="">
          <h1>Thank You For Your Purchase!</h1>
          <p>We appreciate your business and hope you enjoy your purchase.</p>
          <a href="/products" class="button">Back to Shopping</a>
      </div>
  </body>
</html>
